<div class="w-screen h-screen font-lato">
  <nav class="flex items-center justify-between gap-x-1.5 p-2 border-b border-neutral-100">
    <h4 class="font-black">ReportErr</h4>
    <button class="hidden px-2 whitespace-nowrap rounded-lg border-2 border-slate-950 text-xs font-semibold leading-6 text-slate-950 lg:block">All errors</button>
  </nav>
  <div>
    <div class="text-sm">
      <table class="w-full">
        <thead>
          <tr class="h-8 [&>th]:px-2 text-left border-y border-neutral-300 bg-stone-200">
            <th class="w-6"></th>
            <th class="w-24">ID</th>
            <th class="w-24">Severity</th>
            <th>Error</th>
            <th>Model</th>
            <th>Context</th>
          </tr>
        </thead>
        <tbody>
          <% @errors.each do |e| %>
            <tr>
              <%= render 'reporterr/errors/shared/table_row', error: e %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
