<tr class="w-full border-b border-neutral-200
            <%= index.odd? ? 'bg-slate-100' : 'bg-transparent'  %>
            cursor-pointer hover:bg-slate-100">
  <td class="w-1/4 py-2 font-semibold">StandardError</td>
  <td class="w-1/4">UserCreationError</td>
  <td class="w-1/4">"{ user_id: 3 }"</td>
  <td class="w-1/4">
    <button class="hidden whitespace-nowrap rounded-lg bg-slate-200 px-2 text-xs font-semibold leading-6 text-slate-700 lg:block">low</button>
  </td>
</tr>